<header>
  <h1>Your items list</h1> 
 </header>
<br>
<div>
  <mat-list>
    <item *ngFor ="let item of items" 
          [data] ="item"  
          (myButtonClick) = "showText($event)"
          ></item>
  </mat-list>

  {{name}}
</div>
<br>


<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter new item" [(ngModel)]="newItem"><br>  
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter item price" [(ngModel)]="newPrice"><br>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="checked" >In stock?</mat-checkbox>
</div>

<button mat-raised-button (click)= "addItem()">
  Add
</button>