<header>
  <h1>Login</h1> 
 </header>
 <br>
 <form class="example-form">
   
   
     <mat-form-field>
         <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]= "email1"  required>
         <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
       </mat-form-field>
   
 
 
     <mat-form-field class="example-full-width">
       <textarea matInput placeholder="Password" [(ngModel)]="password" name="password"></textarea>
     </mat-form-field>
 
     <button mat-raised-button color="primary" (click)= "login()">login</button>
 
   </form>
 <br>
   <div class="error">
     {{errM}}
   </div>