<mat-list-item (mouseleave) = "notOver()"
    (mouseenter) = "over()">
    <mat-checkbox [(ngModel)]="checked" (click)="changeStock()"></mat-checkbox>
  <span *ngIf= "!showEditField" (click)= "showEdit()">{{name}} ------ {{price}}  </span> 
 

  <button mat-raised-button *ngIf= "showEditField" (click)="save()">Save</button>
  <button mat-raised-button *ngIf= "showEditField" (click)="cancel()">Cancel</button>

  <button mat-raised-button (click) = "delete()"
          *ngIf = "showButton"
          >
      Delete
  </button>
</mat-list-item>
