<div *ngIf="authService.user | async">
  <h1>
    Hey there {{(authService.user | async)?.email}} !
  </h1>
</div>
<div *ngIf="!(authService.user | async)">
  <h1>
    Please login to see your list of items
  </h1>
</div>
